
.content {
    position: absolute;
    top: 6rem;
    width: 100%;
    color: rgba(24, 23, 23, 1);
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-evenly;
    align-items: center;
}

.container {
    width: 90%;
    height: calc(100vh - 6rem);
}

h1 {
    font-size: 40px;
}