html{
    width: 100%;
    height: 100%;
}
body {
    position: absolute;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    margin: 0;
    font-size: 16px;
    font-family: 'Fira Mono', monospace;
    color: white;
    overflow-y: hidden;
    overflow-x: hidden;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

::-webkit-scrollbar {
    display: none;
}

header {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 6rem;

    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    background: rgba(24, 23, 23, 1);
    z-index: 1;
}

header h1{
    margin: 0 2rem;
}

.links {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    align-items: center;
    list-style-type: none;
    padding: 0;
    margin: 0 2rem;
    font-size: 20px;
}

.links a {
    cursor: default;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    text-align: center;
    color: white;
    text-decoration: none;
}

.links a:hover {
    background: white;
}

.links a:hover {
    color: rgba(24, 23, 23, 1);
}

#dropdown {
    opacity: 0;
    position: absolute;
}

.dropdownBack {
    content: "";
    height: 2.5rem;
    border-radius: 5px;
    margin: 0 2rem;
    display: none;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

.dropdownBack:hover {
    background: white;
}

.burger {
    content: "";
    width: 2.5rem;
    height: 5px;
    background: white;
    border-radius: 3px;
    margin: 3px;
}

.dropdownBack:hover .burger {
    background: rgba(24, 23, 23, 1);
}


@media (max-width: 1031px) {

    body {
        overflow-y: scroll;
    }
    .links {
        display: none;
    }
    .shown {
        display: flex !important;
        flex-flow: column nowrap;
        justify-content: space-evenly;
        align-items: center;
        position: absolute;
        right: 0px;
        top: 6rem;
        background: rgba(24, 23, 23, 1);
        width: 100%;
        margin: 0;
    }

    .shown a {
        width: 90%;
        text-align: left;
        margin: 0.5rem 0;
    }

    .dropdownBack {
        display: flex;
    }
}